<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header style="margin-bottom: 30px;">
            <mat-card-title>Sobre mi</mat-card-title>
        </mat-card-header>
        <div>
            <img mat-card-image src="../../../assets/profile.jpg" >
        </div>
        <mat-label>Hola! Mi nombre es Fernando Saibene y estoy cursando la carrera TUP en la UTN FRA</mat-label>
        <br>
        <mat-label>Tengo 26 años y actualmente soy programador en Axoft SA trabajando como fullstack!</mat-label>
    </mat-card>
</div>