<div fxLayout="row" class="master-container" style="margin-top: 20px;" fxLayoutAlign="center center">
    <mat-card-title class="mat-card-title game-title">Memotest</mat-card-title>
    <app-chessboard class="message-container-2" (seleccion)="seleccion($event)"[cards$]="lista"></app-chessboard>
    <div class="message-container">
        <mat-card class="card-container">
            <div class="response" [ngStyle]="{'color': responseColor }">
                {{response}}
            </div>
        </mat-card>
        <mat-card *ngIf="showErrors" class="card-container">
            <div class="response" style="color: red;">
                Errores: {{errorCount}}
            </div>
        </mat-card>
    </div>
</div>
<app-survey-button class="survey-btn" [selectedGame]="'memotest'"></app-survey-button> 
