<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <app-game-selector 
    [title]="'Piedra papel y tijera'"
    [description]="'El objetivo es vencer al oponente seleccionando el arma que gana, según las siguientes reglas: La piedra aplasta la tijera. (Gana la piedra.) La tijera corta el papel.'"
    [gameId]=0
    [imgSrc]="'../../../assets/juegos/ppt.jpg'"></app-game-selector>

    <app-game-selector 
    [title]="'Ta Te Ti'"
    [description]="'Dos jugadores, uno con un símbolo X y el otro O deben conseguir colocar su ficha en línea en un tablero de 3×3.'"
    [gameId]=1
    [imgSrc]="'../../../assets/juegos/tateti.jpg'"></app-game-selector>

    <app-game-selector 
    [title]="'Memotest'"
    [description]="'El Memotest se compone de fichas repetidas que mezcladas se colocan sobre la mesa con la figura hacia abajo formando un cuadro.'"
    [gameId]=2
    [imgSrc]="'../../../assets/juegos/memory-game-icon.png'"></app-game-selector> 

    <app-game-selector 
    [title]="'Blackjack!'"
    [description]="'El blackjack, también llamado veintiuno, es un juego de cartas que consiste en sumar un valor lo más próximo a 21 pero sin pasarse..'"
    [gameId]=3
    [imgSrc]="'../../../assets/bjack.jpg'"></app-game-selector>
</div>