<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <app-game-selector 
    [title]="'Ahorcado'"
    [description]="'Averigua la palabra secreta.'"
    [gameId]=0
    [imgSrc]="'../../../assets/juegos/ppt.jpg'"></app-game-selector>

    <app-game-selector 
    [title]="'Blackjack!'"
    [description]="'El blackjack, también llamado veintiuno, es un juego de cartas que consiste en sumar un valor lo más próximo a 21 pero sin pasarse..'"
    [gameId]=3
    [imgSrc]="'../../../assets/bjack.jpg'"></app-game-selector>
</div>