<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <app-game-selector 
    [title]="'Piedra papel y tijera'"
    [description]="'El objetivo es vencer al oponente seleccionando el arma que gana, según las siguientes reglas: La piedra aplasta la tijera. (Gana la piedra.) La tijera corta el papel.'"
    [imgSrc]="'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg'"></app-game-selector>

    <app-game-selector 
    [title]="'Piedra papel y tijera'"
    [description]="'El objetivo es vencer al oponente seleccionando el arma que gana, según las siguientes reglas: La piedra aplasta la tijera. (Gana la piedra.) La tijera corta el papel.'"
    [imgSrc]="'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg'"></app-game-selector>

    <app-game-selector 
    [title]="'Piedra papel y tijera'"
    [description]="'El objetivo es vencer al oponente seleccionando el arma que gana, según las siguientes reglas: La piedra aplasta la tijera. (Gana la piedra.) La tijera corta el papel.'"
    [imgSrc]="'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg'"></app-game-selector> 

    <app-game-selector 
    [title]="'Piedra papel y tijera'"
    [description]="'El objetivo es vencer al oponente seleccionando el arma que gana, según las siguientes reglas: La piedra aplasta la tijera. (Gana la piedra.) La tijera corta el papel.'"
    [imgSrc]="'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg'"></app-game-selector>
</div>