<div [ngSwitch]="gameStateService.gameState">

    <div *ngSwitchCase="'Start'">
        <button (click)="deal()" type="button" class="deal"><strong>REPARTIR</strong></button>
    </div>

    <div *ngSwitchCase="'Dealt'">
        <button (click)="hit()" type="button" class="hit"><strong>PEDIR</strong></button>
        <button (click)="stay()" type="button" class="stay"><strong>PARAR</strong></button>
    </div>

    <div *ngSwitchCase="'Dealing'">
        <div class="message"><strong>REPARTIENDO</strong></div>       
    </div>

    <div *ngSwitchCase="'Stay'">
        <div class="message"><strong>REPARTIENDO</strong></div>       
    </div>

    <div *ngSwitchCase="'Blackjack'">
        <div class="message"><strong>BLACKJACK!</strong></div>       
    </div>

    <div *ngSwitchCase="'Win'">
        <div class="message"><strong>GANASTE!</strong></div>       
    </div>

    <div *ngSwitchCase="'Lose'">
        <div class="message"><strong>PERDISTE!</strong></div>
    </div>

    <div *ngSwitchCase="'Tie'">
        <div class="message"><strong>EMPATE</strong></div>
    </div>

    <div *ngSwitchCase="'Bust'">
        <div class="message"><strong>TE PASASTE!</strong></div>
    </div>

</div>
