<h1>Simbolo Jugador: {{ player }} </h1>
<div class="container">
    <button mat-button color="mat-primary" (click)="newGame()">Nuevo Juego</button>
    <h2 *ngIf="winner && winner != 'draw'">
        El jugador {{ winner }} ganó!
    </h2>
    <h2 *ngIf="winner == 'draw'">
        Empate!
    </h2>
    <main>
        <app-square 
            *ngFor="let val of squares; let i = index" 
            [value]="val"
            [gameEnded] = "gameEnded"
            (click)="makeMove(i)"> 
        </app-square>
    </main>
</div>