<div fxLayout="row" fxLayoutAlign="center center">
<mat-card class="box">
    <mat-card>
        <div class="chat-box" #scrollMe>
            <mat-card-header style="margin-bottom: 30px;">
                <mat-title>Sala de chat</mat-title>
            </mat-card-header>
            <div class="card-body">
                <div *ngFor="let item of listadoMensajes">
                    <div class="message">
                        <span class="datos">
                            <div class="username">{{getUserName(item.user)}}:</div>
                            <div class="date">{{getDate(item.date)}} </div>
                        </span>
                        <div class="message-text" [ngClass]="{'float-right-attr': isMyMessage(item.user) }">{{item.text}}</div>        
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="input-box">
    <div class="input-group mb-3">
        <mat-form-field class="input-text example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput [(ngModel)]="inputMensaje"  placeholder="Escribi tu mensaje.."></textarea>
        </mat-form-field>
        <div class="input-group-append input-button">
            <button color="primary" mat-raised-button class="btn btn-primary" id="basic-addon2" (click)="enviarMensaje()">Enviar</button>  
        </div>
    </div>
</mat-card>
</mat-card>
    </div>