<mat-card (click)="selectGame()" class="pointer-class">
    <div class="absolute-position">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
    </div>
    <div class="absolute-position">
        <img mat-card-image src="{{imgSrc}}" >
    </div>
    <div class="absolute-position">
        <mat-card-content class="example-header-image">
            <p>
                {{description}}
            </p>
        </mat-card-content>
    </div>
  </mat-card>